* {
  padding: 0;
  margin: 0;
}

body {
  font-family: helvetica;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 80%;
  width: 90%;
  max-width: 600px;
  margin: 57px auto;
  text-align: center;
  border: 2px solid #333;
  border-radius: 10px;
}

.form__title {
  display: block;
  width: 90%;
  font-size: 2.5rem;
  margin: 4rem auto;
  font-weight: bold;
  text-align: center;
}

.form__field {
  position: static;
  margin: 1rem 0;
  width: 90%;
  height: 2rem;
  padding: 1rem;
  border: none;
}

.form__label {
  display: block;
  text-align: left;
  position: relative;
  top: -25px;
  left: 6.5rem;
  cursor: text;
  transition: all ease 0.5s;
}

.form__input {
  width: 60%;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  padding: 5px 10px;
}

.form__input:invalid {
  border-color: red;
}

.form__input:invalid ~ .form__label {
  color: red;
}

.form__input:not(:placeholder-shown).form__input:valid ~ .form__label {
  color: #0084ff;
}

.form__input:not(:placeholder-shown).form__input:valid {
  border-color: #0084ff;
}

.form__input:focus ~ .form__label {
  top: -50px;
}

.form__input::placeholder {
  opacity: 0;
}

.form__input:not(:placeholder-shown) ~ .form__label {
  position: relative;
  top: -50px;
}

.bi-eye,
.bi-eye-slash {
  position: relative;
  top: -45px;
  right: -27%;
  text-align: end;
  cursor: pointer;
  font-size: 1.25rem;
}

.submit__btn {
  text-decoration: none;
  color: #eee;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 8px 15px;
  width: 175px;
  height: 45px;
  background-color: #333;
  border-radius: 5px;
  border: 2px solid #333;
  transition: background-color 0.5s ease;
  cursor: pointer;
  margin-bottom: 4rem;
}

.submit__btn:hover {
  background-color: #eee;
  color: #333;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .register__form {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .register__form {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .register__form {
    width: 45%;
  }
}
